body {
  background-color: orange;
}

.main-ctn {
  font-size: 100px;
  display: flex;
  flex-direction: center;
  justify-content: center;

}

#map-container {
  height: 400px;
}

#speak-text-box {
  color: black;
  height: 200px;
  width: 300px;
}
